@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "alert-danger" : "alert-success";
    <div class="alert @statusMessageClass alert-dismissible fade show mb-4" role="alert">
        @Model
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}